# notebook content not relevant in the git
.ipynb_checkpoints
*_secure.ipynb
*.log
__temp__*

#working files
*.pyc

#draw.io interim file
*.bkp

# Whole folders
env/*
build/*
.vscode

# Quarto components
/.quarto/
/_site/
.Rproj.user
*.Rproj
